{{#each this}}
<li class="cocktail-item">
  <h2>{{strDrink}}</h2>
  <img src="{{strDrinkThumb}}" alt="{{strDrink}}">
  <ul class="ingredients">
    <li>{{strIngredient1}}</li>
    <li>{{strIngredient2}}</li>
    <li>{{strIngredient3}}</li>
    <li>{{strIngredient4}}</li>
    <li>{{strIngredient5}}</li>
    <li>{{strIngredient6}}</li>
    <li>{{strIngredient7}}</li>
    <li>{{strIngredient8}}</li>
    <li>{{strIngredient9}}</li>
    <li>{{strIngredient10}}</li>
  </ul>
  <p>Glass: {{strGlass}}</p>
  <p>{{strAlocoholic}}</p>
  <p>Category: {{strCategory}}</p>
  <p class="instruction">Instruction: {{strInstructions}}</p>
  <p>{{strIBA}}</p>
  <a href="https://iba-world.com/">{{strTags}}</a>
</li>
{{/each}}